*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
  }

body{

    background-color: #000;
    display: flex;
    flex-direction: column;
  }

.content{

    flex: 1 0 auto;
  }


.footer {
    color: #fff;
    text-align: center;
    flex-shrink: 0;
  }


#header{
    
    height:95px;
    background-color: #000;
    color: #ffc711;
    min-width: 100%;
}


#logo_header{

    height: 80px;

    margin: 15px 20px;
}


#number{

    float: right;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 100%;
    padding: 30px 30px;
}

.nav{

    height: 500px;
    width: 100%;

}

.splide img{

    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}


#registro{

    position: absolute;
    left: 60%;
    top: 25%;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    opacity: 75%;
    background-color: #000;
    
}


#boton{

    background-color: #daa700;
    border-radius: 8px;
    font-size: 20px;
    width: 60%;
    height: 40px;
    font-weight: bold;
    border: none;
    
}

#registro h2{

    background-color: #daa700;
    text-align: center;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    font-weight: bold;

}

.datos{

    display: block;
    color: #000;
    opacity: 100%;
    width: 85%;
    line-height: 20px;
    padding: 10px;
    margin: 20px;
    border: none;
    background: #fff;
}

.info{

    display: inline-flex;
}

#info1 {

    margin: 0 auto;
}

#info1 h3{

    position: absolute;
    left: 50%;

    

}

#info1 p{

    margin-top: 70px;
  
}

#info2 h3{

    position: absolute;
    left: 12%;

    

}

#info2 p{

    margin-top: 70px;


}

#info3 h3{

    position: absolute;
    left: 41%;

    

}

#info3 p{

    margin-top: 70px;
}


#info4 h3{

    position: absolute;
    left: 15%;

    

}

#info4 p{

    margin-top: 70px;
}



.text{

    height: 300px;
    color: #fff;
    margin: 40px 0;
}

#container{
    width: 100%;
    height: 150px;
    margin: 20px 0px;
    text-align: center;
}

#logo_whatsapp{

    position: absolute;
    width: 50px;
    height: 50px;
    right: 0; 
    top: 555px;
    

}

.iconos{

    font-size: 15px;
    margin: 30px 13px;
    display: inline-flex;
}

.iconos img{

    display: flex;
    margin: 0 auto;
}

.text p{

    text-align: center;
}

#contenido{

    color: #fff;
    width: 100%;
    height: 600px;
    padding: 0;
}

.img-contenido{

    height: 450px;
    width: 550px;

}

#footer {

    position: absolute;
    text-align: center;
    height: 260px;
    bottom:100;

}

.redes_footer{

    display: inline-flex;
}


.redes{

    height: 55px;
    width: 55px;

}

@media (max-width: 512px) {


    #header{

        width: 100%;
    }

    #logo_header{

        height: 80px;
        width: 33%;
    }

    .nav{

        width: 100%;
        overflow: hidden;
    }

    .splide{
        width: 100%;
    }

    .splide__slide img{

        width: 300px;
        object-fit: cover;
    }

    .text p{

        font-size: 60%;
        text-align: center;

    }

    .iconos{

        font-size: 15px;
        margin: 30px 13px;
        display: inline-flex;
    }
    
    .iconos img{
    
        width: 40px;
        display: flex;
        margin: 0 auto;
    }

    .img-contenido{

        width: 200px;
        height: 200px;
    }

    #info1 h3{

        font-size: 12px;
    }

    #info1 p{

        font-size: 10px;
    }

    #info2 h3{

        font-size: 12px;
        left:1px;
    }

    #info2 p{

        font-size: 10px;
    }

    #info3 h3{

        font-size: 10px;
    }

    #info3 p{

        font-size: 10px;
    }

    #info4 h3{

        font-size: 10px;
    }

    #info4 p{

        font-size: 10px;
    }
}