html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page-footer{

    text-align: center;
    color: #fff;
}

#header{
    background-color: #000;
    color: #ffc711;
}
.page-body {
    flex-grow: 1;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}

#header{
    background-color: #000;
    color: #ffc711;
}
.page-body {
    flex-grow: 1;
}
  
#header {

height: 95px;
background-color: #000;
color: #ffc711;
min-width: 100%;
}


#logo_header {

height: 80px;

margin: 15px 20px;
}


#number {

float: right;
text-align: center;
font-size: 20px;
font-weight: bold;
text-align: center;
height: 100%;
padding: 30px 30px;
}

.nav {

height: 500px;
width: 100%;

}

.splide img {

width: 100%;
height: 500px;
object-fit: cover;
cursor: pointer;
}


#registro {

    position: absolute;
    left: 60%;
    top: 25%;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    opacity: 75%;
    background-color: #000;

}


#boton {

background-color: #daa700;
border-radius: 8px;
font-size: 20px;
width: 60%;
height: 40px;
font-weight: bold;
border: none;

}

#form-titulo {

    background-color: #daa700;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.datos {

display: block;
color: #000;
opacity: 100%;
width: 85%;
line-height: 20px;
padding: 10px;
margin: 20px;
border: none;
background: #fff;
}

.info {

display: inline-flex;
}

#info1 {

margin: 0 auto;
}

#info1 h3 {

position: absolute;
left: 50%;



}

#info1 p {

margin-top: 70px;

}

#info2 h3 {

position: absolute;
left: 12%;



}

#info2 p {

margin-top: 70px;


}

#info3 h3 {

position: absolute;
left: 41%;



}

#info3 p {

margin-top: 70px;
}


#info4 h3 {

position: absolute;
left: 15%;



}

#info4 p {

margin-top: 70px;
}



.text {

height: 300px;
color: #fff;
margin: 40px 0;
}

#container {
width: 100%;
height: 150px;
margin: 20px 0px;
text-align: center;
}

#logo_whatsapp {

position: absolute;
width: 50px;
height: 50px;
right: 0;
top: 555px;


}

.iconos {

font-size: 15px;
margin: 30px 13px;
display: inline-flex;
}

.iconos img {

display: flex;
margin: 0 auto;
}

.text p {

text-align: center;
}

#contenido {

color: #fff;
width: 100%;
height: 600px;
padding: 0;
}

.img-contenido {

height: 450px;
width: 550px;

}

#footer {

position: absolute;
text-align: center;
height: 260px;
bottom: 100;

}

.redes_footer {

display: inline-flex;
}


.redes {

height: 55px;
width: 55px;

}

@media (max-width: 512px) {


    #header {

        width: 100%;
    }

    #logo_header {

        height: 80px;
        width: 33%;
    }

    .nav {

        width: 100%;
    }

    #registro{

       left: 12%;
       width: 318px;
       height: 318px;
    }

    .datos{

        margin: 15px auto;
    }

    .splide {
        width: 100%;
    }

    .text p {

        font-size: 60%;
        text-align: center;

    }

    .iconos {

        font-size: 15px;
        margin: 30px 13px;
        display: inline-flex;
    }

    .iconos img {

        width: 40px;
        display: flex;
        margin: 0 auto;
    }

    .img-contenido {

        width: 200px;
        height: 200px;
    }

    #info1 h3 {

        font-size: 10px;
    }

    #info1 p {

        font-size: 10px;
    }

    #info2 h3 {

        font-size: 10px;
        left: 5%;
        width: 200px;
    }

    #info2 p {

        font-size: 10px;
    }

    #info3 h3 {

        font-size: 10px;
        width: 200px;
        left: 50%;
    }

    #info3 p {

        font-size: 10px;
    }

    #info4 h3 {

        font-size: 10px;
        width: 200px;
        left: 5%;
    }

    #info4 p {

        font-size: 10px;
    }
    }

    .page-footer{

        height: 250px;
    }

    .page-footer p{

        font-size: 5px;
    }

   #logo_footer{

        width: 250px;
        height: 100px;
    }
    
    .redes{

        width: 55px;
        height: 55px;
    }

    @media (max-width: 380px) {


        body{
            min-width: 100%;
        }


        #header {
    
            width: 100%;
        }
    
        #logo_header {
    
            height: 70px;
            width: 35%;
        }
    
        .nav {
    
            width: 100%;
        }

        .splide img{

            min-width: 100%;
        }
    
        #registro{
    
            left: 11%;
            width: 290px;
            height: 320px;
        }

        .datos{

            margin: 15px auto;
        }
    
        .splide {
            width: 100%;
        }

        #logo_whatsapp{

            height: 50px;
            width: 50px;
        }
    
        .text p {
    
            font-size: 60%;
            text-align: center;
    
        }
    
        .iconos {
    
            font-size: 15px;
            margin: 15px 13px;
            display: inline-flex;
        }
    
        .iconos img {
    
            width: 40px;
            display: flex;
            margin: 0 auto;
        }
    
        .img-contenido {
    
            width: 200px;
            height: 200px;
        }
    
        #info1 h3 {
    
            font-size: 10px;
            left: 55%;
        }
    
        #info1 p {
    
            font-size: 10px;
        }
    
        #info2 h3 {
    
            font-size: 10px;
            left: 5%;
            width: 168px;
        }
    
        #info2 p {
    
            font-size: 10px;
        }
    
        #info3 h3 {
    
            font-size: 10px;
            width: 160px;
            left: 55%;
        }
    
        #info3 p {
    
            font-size: 10px;
        }
    
        #info4 h3 {
    
            font-size: 10px;
            width: 160px;
            left: 5%;
        }
    
        #info4 p {
    
            font-size: 10px;
        }
        }
    
        .page-footer{
    
            height: 100%;
        }

        .page-footer div{
            height: 200px;
        }
    
        .page-footer p{
    
            font-size: 10px;
        }
    
       #logo_footer{
    
            width: 200px;
            height: 75px;
        }
        
        .redes{
    
            width: 45px;
            height: 45px;
            margin-right: 25px ;
            text-align: center;
        }

        @media (max-width: 330px) {


            body{
                min-width: 100%;
            }
    
    
            #header {
        
                width: 100%;
            }
        
            #logo_header {
        
                height: 60px;
                width: 35%;
            }

            #number{

                font-size: 15px;
            }
        
            .nav {
        
                width: 100%;
            }


            .splide img{
    
                min-width: 100%;
            }
        
            #registro{
        
                left: 15%;
                width: 220px;
                height: 300px;
            }

            #form-titulo{

                height: 50px;
            }
        
            .splide {
                width: 100%;
            }
    
            #logo_whatsapp{
    
                height: 45px;
                width: 45px;
            }
        
            .text p {
        
                font-size: 70%;
                text-align: center;
        
            }
        
            .iconos {
        
                font-size: 15px;
                margin: 0px 13px;
                display: inline-flex;
            }
        
            .iconos img {
        
                width: 40px;
                display: flex;
                margin: 0 auto;
            }
        
            .img-contenido {
        
                width: 150px;
                height: 150px;
            }
        
            #info1 h3 {
        
                font-size: 10px;
                left: 50%;
            }
        
            #info1 p {
        
                font-size: 10px;
            }
        
            #info2 h3 {
        
                font-size: 10px;
                left: 5%;
                width: 168px;
            }
        
            #info2 p {
        
                font-size: 10px;
            }
        
            #info3 h3 {
        
                font-size: 10px;
                width: 160px;
                left: 50%;
            }
        
            #info3 p {
        
                font-size: 10px;
            }
        
            #info4 h3 {
        
                font-size: 10px;
                width: 160px;
                left: 5%;
            }
        
            #info4 p {
        
                font-size: 10px;
            }
            }
        
            .page-footer{
        
                height: 100%;
            }
    
            .page-footer div{
                height: 200px;
            }
        
            .page-footer p{
        
                font-size: 10px;
            }
        
           #logo_footer{
        
                width: 100%;
                height: 40px;
            }
            
            .redes{
        
                width: 40px;
                height: 40px;
                margin-right: 25px ;
                text-align: center;
            }

         @media (min-width: 768px) {


                body{
                    min-width: 100%;
                }
        
        
                #header {
            
                    width: 100%;
                }
            
                #logo_header {
            
                    height: 60px;
                    width: 35%;
                }
    
                #number{
    
                    font-size: 22px;
                    margin-top: 0;
                }
            
                .nav {
            
                    width: 100%;
                }
    
    
                .splide img{
        
                    min-width: 100%;
                }

                #registro{

                    left: 45%;
                }
            
                .splide {
                    width: 100%;
                }
        
                #logo_whatsapp{
        
                    height: 45px;
                    width: 45px;
                }
            
                .text p {
            
                    font-size: 100%;
                    text-align: center;
            
                }
            
                .iconos {
            
                    font-size: 20px;
                    margin: 0px 13px;
                    display: inline-flex;
                }
            
                .iconos img {
            
                    width: 40px;
                    display: flex;
                    margin: 0 auto;
                }
            
                .img-contenido {
            
                    width: 500px;
                    height: 300px;
                }
            
                #info1 h3 {
            
                    font-size: 18px;
                    left: 55%;
                }
            
                #info1 p {
            
                    font-size: 15px;
                }
            
                #info2 h3 {
            
                    font-size: 18px;
                    left: 5%;
                    width: 168px;
                }
            
                #info2 p {
            
                    font-size: 15px;
                }
            
                #info3 h3 {
            
                    font-size: 20px;
                    width: 280px;
                    left: 55%;
                }
            
                #info3 p {

                    margin-top: 100px;
            
                    font-size: 15px;
                }
            
                #info4 h3 {
            
                    font-size: 20px;
                    width: 200px;
                    left: 10%;
                }
            
                #info4 p {

                    margin-top: 100px;
                    margin-left: 20px;
            
                    font-size: 15px;
                }
                }
            
                .page-footer{
            
                    height: 100%;
                }
        
                .page-footer div{
                    height: 200px;
                }
            
                .page-footer p{
            
                    font-size: 20px;
                }
            
               #logo_footer{
            
                    width: 300px;
                    height: 100px;
                }
                
                .redes{
            
                    width: 55px;
                    height: 55px;
                    margin-right: 25px ;
                    text-align: center;
                }
                